<p *ngIf="arrayOfBoats.length === 0">Er zijn nog geen boten geregistreerd!</p>
<button routerLink="/add-boat" mat-raised-button color="primary">
  Voeg een boot toe
</button>
<mat-card *ngFor="let boat of arrayOfBoats">
  <mat-card-title>{{ boat.name }}</mat-card-title>
  <mat-card-subtitle
    >Registratie nummer: {{ boat.registrationNumber }}</mat-card-subtitle
  >
  <mat-card-subtitle>€{{ boat.pricePerDay }},00 per dag</mat-card-subtitle>
  <mat-card-subtitle *ngIf="boat.maintenance" style="color: red"
    >In onderhoud!</mat-card-subtitle
  >
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="deleteBoatById(boat.id)">
      Verwijder
    </button>
    <button
      *ngIf="!boat.maintenance"
      mat-raised-button
      color="primary"
      (click)="updateMaintenance(boat.id, true)"
    >
      Zet op onderhoud
    </button>
    <button
      *ngIf="boat.maintenance"
      mat-raised-button
      color="primary"
      (click)="updateMaintenance(boat.id, false)"
    >
      Haal van onderhoud af
    </button>
  </mat-card-actions>
</mat-card>
