<p *ngIf="arrayOfBoats.length === 0">Er zijn nog geen boten geregistreerd!</p>
<mat-card *ngFor="let boat of arrayOfBoats">
  <mat-card-title>{{ boat.name }}</mat-card-title>
  <mat-card-subtitle>€{{ boat.pricePerDay }},00 per dag</mat-card-subtitle>
  <mat-card-actions>
    <button mat-button (click)="deleteBoatById(boat.id)">Verwijder</button>
    <button
      *ngIf="!boat.maintenance"
      mat-button
      (click)="updateMaintenance(boat.id, true)"
    >
      Zet op onderhoud
    </button>
    <button
      *ngIf="boat.maintenance"
      mat-button
      (click)="updateMaintenance(boat.id, false)"
    >
      Haal van onderhoud af
    </button>
  </mat-card-actions>
</mat-card>
