@use '@angular/material' as mat;
@use 'src/custom-theme.scss' as theme;

h2.center {
  text-align: center;
}

img {
  width: 200px;
}

.warning {
  font-weight: bold;
  color: mat.get-color-from-palette(
    theme.$dogstack-project-uml-warn,
    'default'
  );
}
