<div *ngIf="this.nextRental">
  <h2 class="center">Your next rental:</h2>
  <section class="custom-card with-padding">
    <img [src]="this.nextRental.boat.imageRoute" />
    <div>
      <h2>{{ this.nextRental.boat.name }}</h2>

      <p>from {{ this.formatDateStart() }}</p>
      <p>until {{ this.formatDateEnd() }}</p>
      <p *ngIf="this.nextRental.paid">Paid</p>
      <p class="warning" *ngIf="!this.nextRental.paid">Not yet paid!</p>
    </div>
  </section>
</div>
<section *ngIf="!this.nextRental" class="custom-card with-padding">
  <h2>Welcome to your dashboard, {{ getName() }}.</h2>
</section>
