<section *ngIf="this.nextRental" class="custom-card with-padding">
  <img [src]="this.nextRental.boat.imageRoute" />
  <div>
    <h2>{{ this.nextRental.boat.name }}</h2>
    <h3 *ngIf="this.nextRental.skipper">
      Bestuurd door {{ this.nextRental.skipper.name }}
    </h3>
    <p>van {{ this.formatDateStart() }}</p>
    <p>tot {{ this.formatDateEnd() }}</p>
    <p *ngIf="this.nextRental.paid">Betaald</p>
    <p class="warning" *ngIf="!this.nextRental.paid">Nog niet betaald!</p>
  </div>
</section>
<section *ngIf="!this.nextRental" class="custom-card with-padding">
  <h2>Welkom bij het klantenpaneel, this.user.firstName!</h2>
</section>
