#container {
  display: flex;
  gap: 1em;
  justify-content: space-around;
}

#boat,
#invoice {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#details {
  padding: 2em;
}

h2 {
  margin: 0;
}

.icon {
  display: flex;
  align-items: center;
}

.icon :first-child {
  margin-right: 0.5em;
}

img {
  object-fit: cover;
  max-height: 32rem;
}

@media only screen and (max-width: 640px) {
  #container {
    flex-direction: column;
  }
}
