<div *ngIf="!boat" class="custom-card with-padding">
  <h2>Something went wrong! Please try again.</h2>
</div>

<div *ngIf="boat">
  <div id="container">
    <section id="boat" class="custom-card">
      <img src="{{ boat.imageRoute }}" alt="{{ boat.name }}" />

      <!-- Boat Details -->
      <section id="details">
        <div>
          <h2>{{ boat.name }}</h2>
          <h3>#{{ boat.registrationNumber }}</h3>
        </div>

        <div>
          <span *ngIf="boat.boatType === 'sail'" class="icon"
            ><mat-icon>sailing</mat-icon>{{ boat.sailAreaInM2 }} m<sup
              >2</sup
            ></span
          >
          <span *ngIf="boat.boatType === 'motor'" class="icon"
            ><mat-icon>speed</mat-icon>{{ boat.maxSpeedInKmH }} km/h</span
          >
          <span class="icon"
            ><mat-icon>square_foot</mat-icon>{{ boat.lengthInM }} m</span
          >
          <span class="icon"
            ><mat-icon>directions_boat</mat-icon
            >{{ requirementsToString() }}</span
          >
          <span class="icon"
            ><mat-icon>bed</mat-icon>Max. {{ boat.maxPassengers }} people</span
          >
          <span class="icon"
            ><mat-icon>euro</mat-icon>{{ boat.pricePerDay }} per day</span
          >
        </div>
      </section>
    </section>

    <!-- Boat invoice -->
    <section id="invoice" class="custom-card with-padding accent">
      <app-filters-date [boatId]="boat.registrationNumber"></app-filters-date>
      <h3 *ngIf="!dateRange">Kies een datum!</h3>

      <h3>
        <span *ngIf="dateRange">{{ getDays() }} dagen à </span>€
        {{ boat.pricePerDay }} per dag
      </h3>
      <h3 *ngIf="dateRange">Subtotaal: € {{ getTotalPrice() }}</h3>

      <button
        mat-raised-button
        color="primary"
        (click)="handleButton()"
        [disabled]="isButtonDisabled()"
      >
        {{ getButtonText() }}
      </button>
    </section>
  </div>
</div>
