<h1 mat-dialog-title>
  Deel een boete uit aan
  {{ fineData.firstNameOfCustomer + ' ' + fineData.lastNameOfCustomer }}
</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <input matInput [(ngModel)]="fineData.fineAmount" />
    <span matPrefix>€</span>
    <span matSuffix>.00</span>
    <mat-hint>Vul hier de hoogte van de boete in</mat-hint>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="fineData.fineAmount" cdkFocusInitial>
    Ok
  </button>
</div>
