<footer>
  <div class="panel">
    <h2>Links</h2>
    <ul>
      <li><a routerLink="">Over Ons</a></li>
      <li><a href="">FAQ</a></li>
      <li><a routerLink="">Algemene Voorwaarden</a></li>
      <li><a routerLink="">Piracyverklaring</a></li>
    </ul>
  </div>
  <mat-divider class="responsive"></mat-divider>
  <mat-divider [vertical]="true"></mat-divider>

  <div class="panel">
    <h2>Contact</h2>
    <div class="contact">
      <p>
        Het Vrolijke Avontuur<br />
        Havenkade 3<br />
        1234 AB Amsterdam<br />
      </p>
      <p>
        <a href="tel:31 12 9876543">+31 12 9876543</a><br />
        <a href="mailto:info@hetvrolijkeavontuur.nl"
          >info@hetvrolijkeavontuur.nl</a
        >
      </p>
      <p>© 2022 Copyright Het Vrolijke Avontuur B.V.</p>
    </div>
  </div>
</footer>
