<div class="col">
  <h2><b>Veel gestelde vragen</b></h2>
  <section class="tabs">
    <section class="tab">
      <input type="radio" id="box1" name="rd" />
      <label class="tab-label" for="box1">Mag mijn hond mee aanboord?</label>
      <section class="tab-content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, facilis.
      </section>
    </section>
    <section class="tab">
      <input type="radio" id="box2" name="rd" />
      <label class="tab-label" for="box2"
        >Moet ik meerdere dagen reserveren?</label
      >
      <section class="tab-content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
      </section>
    </section>
    <section class="tab">
      <input type="radio" id="close-box" name="rd" />
      <label for="close-box" class="tab-close">Close &times;</label>
    </section>
  </section>

  <section class="question-input">
    <h2>Stel hier jouw vraag aan de beheerders!</h2>
    <textarea id="textarea-input"></textarea>
    <br />
    <button mat-raised-button color="primary" id="send-question-btn">
      Verstuur bericht!
    </button>
  </section>
</div>
