<section class="col">
  <h2><b>Veel gestelde vragen</b></h2>
  <section class="tabs">
    <section class="tab">
      <input type="radio" id="box1" name="rd" />
      <label class="tab-label" for="box1">Mag mijn hond mee aanboord?</label>
      <section class="tab-content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, facilis.
      </section>
    </section>
    <section class="tab">
      <input type="radio" id="box2" name="rd" />
      <label class="tab-label" for="box2"
        >Moet ik meerdere dagen reserveren?</label
      >
      <section class="tab-content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
      </section>
    </section>
    <section class="tab">
      <input type="radio" id="close-box" name="rd" />
      <label for="close-box" class="tab-close">Close &times;</label>
    </section>
  </section>
  <br />
  <!-- <section class="question-input">
    <h2>Stel hier jouw vraag aan de beheerders!</h2>
    <textarea id="textarea-input"></textarea>
    <br />
   
  </section> -->
  <h3>Laat een bericht achter</h3>
  <section class="input-section">
    <form class="question-form">
      <mat-form-field class="question-full-width" appearance="fill">
        <mat-label>Naam</mat-label>
        <input
          matInput
          [formControl]="nameFormControl"
          placeholder="Naam"
          value="Naam"
          id="naam-form"
        />

        <mat-error *ngIf="nameFormControl.invalid"
          >{{ nameErrorMessage() }}
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field class="question-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          [formControl]="emailFormControl"
          placeholder=""
          id="email-form"
        />

        <mat-error
          *ngIf="emailFormControl.invalid"
        >{{ emailErrorMessage() }} 
        
        </mat-error>

      </mat-form-field>
      <br />

      <mat-form-field class="question-full-width" appearance="fill">
        <mat-label>Stel uw vraag!</mat-label>
        <textarea
          matInput
          placeholder=""
          [formControl]="textFormControl"
          id="textarea-form"
        ></textarea>
        <mat-error *ngIf="textFormControl.invalid">
            {{ textErrorMessage() }}
        </mat-error>
      </mat-form-field>
      <br />
      <button
        mat-raised-button
        color="primary"
        id="send-question-btn"
        (click)="getMessage()"
      >
        Verstuur bericht!
      </button>
    </form>
  </section>
</section>
