<h2>The Netherlands' best boat rental!</h2>

<app-home-feature
  badgeText="From €200 per day!"
  buttonText="Rent a boat now!"
  [callback]="canalCallback.bind(this)"
  imageSource="/assets/home/feature-canal.jpg"
>
  <h2>Discover Amsterdam's canals</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quod autem satis
    est, eo quicquid accessit, nimium est; Ne amores quidem sanctos a sapiente
    alienos esse arbitrantur. Ego vero isti, inquam, permitto. Negabat igitur
    ullam esse artem, quae ipsa a se proficisceretur; Duo Reges: constructio
    interrete. Hos contra singulos dici est melius. Sic enim censent,
    oportunitatis esse beate vivere. Sed quot homines, tot sententiae; Quam ob
    rem tandem, inquit, non satisfacit?
  </p>
</app-home-feature>
<app-home-feature
  badgeText="Order now!"
  buttonText="Rent our party boats!"
  [callback]="partyBoatCallback.bind(this)"
  imageOrder="last"
  imageSource="/assets/home/feature-partyboat.jpg"
>
  <h2>Just you and 31 of your best friends!</h2>
  <p>
    Quorum sine causa fieri nihil putandum est. Respondeat totidem verbis.
    Summus dolor plures dies manere non potest? Tecum optime, deinde etiam cum
    mediocri amico. Fortitudinis quaedam praecepta sunt ac paene leges, quae
    effeminari virum vetant in dolore. Sed tamen est aliquid, quod nobis non
    liceat, liceat illis. Quo igitur, inquit, modo? Quid adiuvas? Videmus igitur
    ut conquiescere ne infantes quidem possint. Laboro autem non sine causa;
  </p>
</app-home-feature>
<app-home-feature
  buttonText="Sail away, sail away..."
  [callback]="sailboatCallback.bind(this)"
  imageSource="/assets/home/feature-sailboat.jpg"
>
  <h2>Rent a sailboat</h2>

  <p>
    Non enim iam stirpis bonum quaeret, sed animalis. Istic sum, inquit. Quis
    est tam dissimile homini.
  </p>
  <p>
    Duo Reges: constructio interrete. Illi enim inter se dissentiunt. Dat enim
    intervalla et relaxat. Primum in nostrane potestate est, quid meminerimus?
    Ergo, inquit, tibi Q. Istam voluptatem perpetuam quis potest praestare
    sapienti?
  </p>
</app-home-feature>
