<app-shortcuts></app-shortcuts>

<app-home-feature
  badgeText="Al vanaf €200 per dag!"
  buttonText="Direct een fluisterboot huren"
  imageSource="/assets/home/feature-fluisterboot.jpg"
>
  <h2>In een fluisterboot Nederland ontdekken</h2>

  <p>
    Voor onze fluisterboten heb je geen vaarbewijs nodig. Deze
    milieuvriendelijke boten maken weinig lawaai en worden voortbewogen door een
    elektromotor. De 6-persoons fluisterboten zijn moeiteloos te besturen.
    Hierdoor kan je optimaal in rust genieten van de Nederlandse wateren.
  </p>
</app-home-feature>
<app-home-feature
  badgeText="Bestel Nu!"
  buttonText="Boek de Mrs. Red"
  imageOrder="last"
  imageSource="/assets/home/feature-mrsred.jpg"
>
  <h2>Geniet met 32 vrienden op de boot Mrs. Red</h2>
  <p>
    De Mrs. Red is een grotere boot met schipper met een capaciteit van 30
    personen. Ideaal voor bedrijfsuitjes, verjaardagen, familiebijeenkomsten of
    arrangementen als onze wijnproeverij, sushi boot of luxe borrel. Een
    rondvaart is het hele jaar door mogelijk.
  </p>
</app-home-feature>
<app-home-feature
  buttonText="Huur een zeilboot"
  imageSource="/assets/home/feature-zeilboot.jpg"
>
  <h2>Zeilboot huren</h2>

  <p>
    Zeilboot huren? Het Vrolijke Avontuur is een van de grootste en meest
    professionele zeiljachtverhuurders in Nederland, met een eigen vloot van
    meer dan 105 zeiljachten.
  </p>
  <p>
    In onze havens vindt u verschillende zeiljachten voor 2 t/m 11 personen. Een
    zeilboot huren bij Het Vrolijke Avontuur staat garant voor een goede start
    voor uw zeilvakantie in Nederland. Meer weten over de mogelijkheden om een
    zeilboot te kunnen huren?
  </p>
</app-home-feature>
