@use '@angular/material' as mat;
@use '/src/custom-theme.scss' as theme;

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(
    $color:
      mat.get-color-from-palette(theme.$dogstack-project-uml-primary, 'lighter'),
    $alpha: 0.8
  );
}

mat-form-field,
mat-checkbox,
.center-me,
mat-radio-group,
label,
button {
  margin: 10px;
}

.onderaan {
  margin-top: 40px;
}
