<div class="main">
  <mat-form-field appearance="fill">
    <mat-label>Naam:</mat-label>
    <input id="name" matInput [formControl]="nameControl" #name required />
    <mat-hint>Vul hier de naam van de boot in</mat-hint>
    <mat-error *ngIf="nameControl.invalid">{{
      getErrorMessageForNameField()
    }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Registratie nummer:</mat-label>
    <input
      id="registrationNumber"
      matInput
      [formControl]="registrationNumberControl"
      #registrationNumber
      required
    />
    <mat-hint>Vul hier het registratie nummer van de boot in</mat-hint>
    <mat-error *ngIf="registrationNumberControl.invalid">{{
      getErrorMessageForRegistrationNumber()
    }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Prijs:</mat-label>
    <input
      id="price"
      matInput
      type="number"
      [formControl]="priceControl"
      #price
      required
    />
    <span matPrefix>€</span>
    <span matSuffix>.00</span>
    <mat-hint>Vul hier het dagtarief in</mat-hint>
    <mat-error *ngIf="priceControl.invalid">{{
      getErrorMessageForPriceField()
    }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Maximaal aantal gasten:</mat-label>
    <input
      id="maxOccupants"
      matInput
      [formControl]="maxOccupantsControl"
      #maxOccupants
      required
    />
    <mat-hint>Vul hier het maximale aantal gasten van de boot in</mat-hint>
    <mat-error *ngIf="maxOccupantsControl.invalid">{{
      getErrorMessageForMaxOccupants()
    }}</mat-error>
  </mat-form-field>
  <mat-checkbox #skipperRequired id="skipperRequired"
    >Schipper nodig</mat-checkbox
  >
  <div class="center-me" (click)="uploadFile.click()">
    <button mat-raised-button color="primary" class="button">
      Upload foto van de boot
    </button>
    <input
      #uploadFile
      (change)="upload($event)"
      type="file"
      style="display: none"
      multiple
    />
  </div>
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Lengte</mat-label>
    <input
      id="length"
      matInput
      type="number"
      [formControl]="lengthControl"
      #lengte
      required
    />
    <mat-hint>Vul hier de lengte van de boot in meters in</mat-hint>
    <span matSuffix> meter</span>
    <mat-error *ngIf="lengthControl.invalid">{{
      getErrorMessageForLengthField()
    }}</mat-error>
  </mat-form-field>
  <label>Is de boot een motor- of zeilboot: </label>
  <mat-radio-group id="motorOrSail">
    <mat-radio-button value="zeil" checked="true" #sail id="sail"
      >Zeilboot
    </mat-radio-button>
    <mat-radio-button value="motor" #motor>Motorboot</mat-radio-button>
  </mat-radio-group>
  <mat-form-field *ngIf="!sail.checked" appearance="fill">
    <mat-label>Max snelheid:</mat-label>
    <input
      id="maxSpeed"
      matInput
      type="number"
      [formControl]="maxSpeedControl"
      #maxSpeed
      required
    />
    <span matSuffix> km per uur</span>
    <mat-hint>Vul hier de maximale snelheid in van de boot</mat-hint>
    <mat-error *ngIf="maxSpeedControl.invalid">{{
      getErrorMessageForSpeedField()
    }}</mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="sail.checked" appearance="fill">
    <mat-label>Oppervlak van het zeil:</mat-label>
    <input
      id="sailInM2"
      matInput
      type="number"
      [formControl]="sailAreaInM2Control"
      #sailInM2
      required
    />
    <span matSuffix> vierkante meter</span>
    <mat-hint>Vul hier het oppervlak van het zeil in</mat-hint>
    <mat-error *ngIf="sailAreaInM2Control.invalid">{{
      getErrorMessageForSailAreaInM2()
    }}</mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    id="submitKnop"
    color="primary"
    (click)="
      checkFields(
        name.value,
        registrationNumber.value,
        price.value,
        lengte.value,
        skipperRequired.checked,
        maxOccupants.value,
        sail.checked,
        motor.checked
      )
    "
    class="button"
  >
    Verstuur
  </button>
  <button
    class="bottom"
    routerLink="/boat-overview-admin"
    mat-raised-button
    color="primary"
  >
    Terug naar admin panel
  </button>
</div>
