@use '@angular/material' as mat;
@use 'src/custom-theme.scss' as theme;

:host {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

section {
  flex-grow: 1;
}

a.active {
  background-color: mat.get-color-from-palette(
    theme.$dogstack-project-uml-accent,
    'default'
  );
}

@media only screen and (max-width: 640px) {
  :host {
    flex-direction: column;
  }
}
