<nav>
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/rent">Rent</a>
  <a *ngIf="isGuest()" mat-button routerLink="/login">Login</a>

  <!-- Menu button -->
  <!-- This button is hidden for guests because there are no nav items for
  guest users. -->
  <button *ngIf="showMenuButton()" mat-button [matMenuTriggerFor]="menu">
    <mat-icon>{{ getIconName() }}</mat-icon>
  </button>

  <!-- Menu -->
  <mat-menu #menu="matMenu">
    <a
      *ngFor="let item of getNavigationItems()"
      routerLink="{{ item.route }}"
      mat-menu-item
      >{{ item.name }}</a
    >
    <a *ngIf="!isGuest()" mat-menu-item (click)="logout()">Log out</a>
  </mat-menu>
</nav>
