@use '@angular/material' as mat;
@use '/src/custom-theme.scss' as theme;

#container {
  display: flex;
  gap: 1em;
  justify-content: space-around;
}

#details,
#invoice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  margin: 0;
}

.icon {
  display: flex;
  align-items: center;
}

.icon :first-child {
  margin-right: 0.5em;
}
