<div *ngIf="!boat" class="custom-card with-padding">
  <h2>Er is wat fout gegaan! Probeer het nog eens.</h2>
</div>

<div *ngIf="boat">
  <div id="container">
    <section id="details" class="custom-card with-padding">
      <div>
        <h2>{{ boat.name }}</h2>
        <h3>#{{ boat.registrationNumber }}</h3>
      </div>

      <div>
        <span *ngIf="boat.boatType === 'sail'" class="icon"
          ><mat-icon>sailing</mat-icon>{{ boat.sailAreaInM2 }} m<sup
            >2</sup
          ></span
        >
        <span *ngIf="boat.boatType === 'motor'" class="icon"
          ><mat-icon>speed</mat-icon>{{ boat.maxSpeedInKmH }} km/h</span
        >
        <span class="icon"
          ><mat-icon>square_foot</mat-icon>{{ boat.lengthInM }} meter</span
        >
        <span class="icon"
          ><mat-icon>directions_boat</mat-icon
          >{{ requirementsToString() }}</span
        >
        <span class="icon"
          ><mat-icon>bed</mat-icon>Maximaal
          {{ boat.maxOccupants }} personen</span
        >
        <span class="icon"
          ><mat-icon>euro</mat-icon>{{ boat.pricePerDay }} per dag</span
        >
      </div>
    </section>
    <section id="invoice" class="custom-card with-padding accent">
      <app-filters-date [boatId]="boat.id"></app-filters-date>
      <h3 *ngIf="!isDateSet()">Kies een datum!</h3>

      <h3>
        <span *ngIf="isDateSet()">{{ getDays() }} dagen à </span>€
        {{ boat.pricePerDay }} per dag
      </h3>
      <h3 *ngIf="isDateSet()">Subtotaal: € {{ getTotalPrice() }}</h3>

      <button
        *ngIf="isDateSet()"
        (click)="confirmOrder()"
        mat-raised-button
        color="primary"
      >
        Nu Betalen
      </button>
    </section>
  </div>
</div>
