<nav>
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/verhuur">Verhuur</a>

  <!-- Menu-knop -->
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>{{ getIconName() }}</mat-icon>
  </button>

  <!-- Menu -->
  <mat-menu #menu="matMenu">
    <a
      *ngFor="let item of getNavigationItems()"
      routerLink="{{ item.route }}"
      mat-menu-item
      >{{ item.name }}</a
    >

    <!-- Debug -->
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="debugUserType = 'guest'">
      guest (Debug)
    </button>
    <button mat-menu-item (click)="debugUserType = 'user'">user (Debug)</button>
    <button mat-menu-item (click)="debugUserType = 'admin'">
      admin (Debug)
    </button>
    <!-- Debug -->
  </mat-menu>
</nav>
