<nav>
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/verhuur">Verhuur</a>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon *ngIf="!isLoggedIn()">menu</mat-icon>
    <mat-icon *ngIf="isLoggedIn() && !isAdmin()">account_circle</mat-icon>
    <mat-icon *ngIf="isLoggedIn() && isAdmin()">admin_panel_settings</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <div *ngIf="!isLoggedIn()">
      <a mat-menu-item routerLink="/">Register</a>
      <a mat-menu-item routerLink="/">Login</a>

      <!-- Debug knop -->
      <button mat-menu-item (click)="userType = 'user'">Login (Debug)</button>
    </div>

    <div *ngIf="isLoggedIn()">
      <a mat-menu-item routerLink="/">Account</a>

      <a mat-menu-item *ngIf="!isAdmin()" routerLink="/">Bestelgeschiedenis</a>

      <a mat-menu-item *ngIf="isAdmin()" routerLink="/">Boot-administratie</a>
      <a mat-menu-item *ngIf="isAdmin()" routerLink="/"
        >Schipper-administratie</a
      >
      <a mat-menu-item (click)="userType = 'guest'" routerLink="/">Log uit</a>

      <!-- Debug knoppen -->
      <button *ngIf="!isAdmin()" mat-menu-item (click)="userType = 'admin'">
        Word admin (Debug)
      </button>
      <button mat-menu-item (click)="userType = 'guest'">
        Log uit (Debug)
      </button>
    </div>
  </mat-menu>
</nav>
