@use '@angular/material' as mat;
@use '../../custom-theme.scss' as theme;

:host {
  --badge-size: 8em;
  --badge-offset: calc(-0.2 * var(--badge-size));
  --rotation: 8deg;
}

.badge {
  position: absolute;
  top: var(--badge-offset);
  background-color: mat.get-color-from-palette(
    theme.$dogstack-project-uml-accent,
    'default'
  );
  border-radius: 50%;
  width: var(--badge-size);
  height: var(--badge-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge.left {
  left: var(--badge-offset);
  transform: rotate(calc(var(--rotation) * -1)) perspective(1px);
}

.badge.right {
  right: var(--badge-offset);
  transform: rotate(var(--rotation)) perspective(1px);
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  height: 60%;
}
