<p *ngIf="arrayOfSkippers.length === 0">
  Er zijn nog geen schippers geregistreerd!
</p>
<button routerLink="/add-skipper" mat-raised-button color="primary">
  Voeg een schipper toe
</button>
<mat-card *ngFor="let skipper of arrayOfSkippers; index as i">
  <mat-card-title>{{ skipper.name }}</mat-card-title>
  <mat-card-subtitle
    >Geboorte datum: {{ parseDateStringToDate(skipper.birthDate).getDate() }}-{{
      parseDateStringToDate(skipper.birthDate).getMonth()
    }}-{{
      parseDateStringToDate(skipper.birthDate).getFullYear()
    }}</mat-card-subtitle
  >
  <mat-card-subtitle>€{{ skipper.pricePerDay }},00 per dag</mat-card-subtitle>
  <mat-card-subtitle *ngIf="skipper.leave" style="color: red"
    >Op verlof!</mat-card-subtitle
  >
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="deleteSkipperById(skipper.id, i)"
    >
      Verwijder
    </button>
    <button
      *ngIf="!skipper.leave"
      mat-raised-button
      color="primary"
      (click)="updateLeave(skipper.id, true, i)"
    >
      Zet op verlof
    </button>
    <button
      *ngIf="skipper.leave"
      mat-raised-button
      color="primary"
      (click)="updateLeave(skipper.id, false, i)"
    >
      Haal van verlof af
    </button>
  </mat-card-actions>
</mat-card>
