<form [formGroup]="loginForm">
  <div id="inputs" class="custom-card vertical with-padding">
    <h2>Log In</h2>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Email Address</mat-label>
      <input
        type="email"
        matInput
        placeholder="Email Address"
        id="email"
        formControlName="email"
      />

      <mat-error *ngIf="email.invalid">{{ getEmailError() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        placeholder="password"
        id="password"
        formControlName="password"
      />

      <mat-error *ngIf="password.invalid">{{ getPasswordError() }}</mat-error>
    </mat-form-field>
  </div>
  <div id="buttons" class="custom-card with-padding accent">
    <button mat-raised-button color="primary" id="login" (click)="login()">
      Log In!
    </button>
    <button routerLink="/register" mat-raised-button color="primary">
      No account? Register now!
    </button>
  </div>
</form>
