<h2><p>registratie pagina DogStack-bootverhuur</p></h2>
<section class="registration-section">
  <form class="form">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Voornaam</mat-label>
      <input
        type="name"
        matInput
        [formControl]="firstName"
        placeholder="Voornaam"
        id="firstname-input"
      />

      <mat-error *ngIf="firstName.invalid"
        >{{ firstNameErrorMessage() }}
      </mat-error>
    </mat-form-field>
  </form>

  <form class="form">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Achternaam</mat-label>
      <input
        type="name"
        matInput
        [formControl]="lastName"
        placeholder="Achternaam"
        id="lastName-input"
      />
      <mat-error *ngIf="lastName.invalid"
        >{{ lastNameErrorMessage() }}
      </mat-error>
    </mat-form-field>
  </form>

  <form class="form">
    <mat-form-field appearance="fill">
      <mat-label>Geboortedatum*</mat-label>
      <input matInput [matDatepicker]="picker" id="age-input" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>

  <!-- <form class="form">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Leeftijd</mat-label>
      <input
        type="number"
        matInput
        placeholder="Leeftijd"
        id="leeftijd-input"
      />
      <mat-error
        *ngIf="
        
        "
      >
        Voer uw leeftijd in
      </mat-error>
      <mat-error *ngIf="">
        Leeftijd is <strong>vereist</strong>
      </mat-error>
    </mat-form-field>
  </form> -->

  <section class="registratie-sectie">
    <form class="form">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Emailadres</mat-label>
        <input
          type="name"
          matInput
          [formControl]="email"
          placeholder="Emailadres"
          id="emailadres-input"
        />

        <mat-error *ngIf="email.invalid">{{ emailErrorMessage() }} </mat-error>
      </mat-form-field>
    </form>

    <form class="form">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Wachtwoord</mat-label>
        <input
          type="password"
          matInput
          placeholder="password"
          id="password-input"
        />

        <mat-error *ngIf="password.invalid"
          >{{ passwordErrorMessage() }}
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        id="registration-btn"
        (click)="validatePassword()"
      >
        Registreer!
      </button>
    </form>
  </section>
</section>
