<p>registratie pagina</p>
<section class="registratie-sectie">
  <form class="form">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Voornaam</mat-label>
      <input
        type="name"
        matInput
        [formControl]="emailFormControl"
        placeholder="Voornaam"
        id="voornaam-input"
      />
      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
      >
        Voer uw naam in
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Naam is <strong>vereist</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <form class="form">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Achternaam</mat-label>
      <input
        type="name"
        matInput
        [formControl]="emailFormControl"
        placeholder="Achternaam"
        id="achternaam-input"
      />
      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
      >
        Voer uw achternaam in
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Achternaam is <strong>vereist</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <form class="form">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Leeftijd</mat-label>
      <input
        type="number"
        matInput
        [formControl]="emailFormControl"
        placeholder="Leeftijd"
        id="leeftijd-input"
      />
      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
      >
        Voer uw leeftijd in
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Leeftijd is <strong>vereist</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <form class="form">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Emailadres</mat-label>
      <input
        type="email"
        matInput
        [formControl]="emailFormControl"
        placeholder="Emailadres"
        id="emailadres-input"
      />
      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
      >
        Voer uw emailadres in
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Emailadres <strong>vereist</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <form class="form">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Wachtwoord</mat-label>
      <input
        type="password"
        matInput
        [formControl]="emailFormControl"
        placeholder="Wachtwoord"
        id="wachtwoord-input"
      />
      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
      >
        Voer uw wachtwoord in
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Wachtwoord is <strong>vereist</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" id="registratie-btn">Registreer!</button>

  </form>
</section>
