@use '@angular/material' as mat;
@use '../../custom-theme.scss' as theme;

mat-toolbar {
  height: 6em;
  padding: 0.25em;
}

.spacer {
  flex: 1 1 auto;
}

a {
  height: 100%;
  margin: 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  padding: 0.25em;
  display: flex;
  object-fit: contain;
  max-height: 4em;
  max-width: 4em;
  border-radius: 50%;
  background-color: mat.get-color-from-palette(
    theme.$dogstack-project-uml-primary,
    'lighter'
  );
}

h1.responsive {
  display: none;
}

@media only screen and (max-width: 640px) {
  mat-toolbar {
    height: 8em;
  }
  h1 {
    display: none;
  }
  h1.responsive {
    display: unset;
  }
}
