<mat-form-field appearance="fill">
  <mat-label>Datum</mat-label>
  <mat-date-range-input
    #pickerInput
    [rangePicker]="picker"
    [min]="getMinimumDate()"
    [dateFilter]="dateFilter"
  >
    <input
      matStartDate
      placeholder="Startdatum"
      [ngModel]="dateStart"
      (ngModelChange)="updateDateStart($event)"
    />
    <input
      matEndDate
      placeholder="Einddatum"
      [ngModel]="dateEnd"
      (ngModelChange)="updateDateEnd($event)"
    />
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
