/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use '/src/custom-theme.scss' as theme;
@use '/src/custom-card.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes(theme.$dogstack-project-uml-theme);

html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('assets/background.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

body {
  height: 100%;
  max-width: 960px;
  width: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.error-snackbar {
  background-color: mat.get-color-from-palette(
    theme.$dogstack-project-uml-warn
  );
  color: black;
}

.error-snackbar button {
  color: black;
}

.normal-snackbar {
  background-color: green;
  color: white;
}

.normal-snackbar button {
  color: white;
}
