@use '@angular/material' as mat;
@use '/src/custom-theme.scss' as theme;

footer {
  display: flex;
  background-color: mat.get-color-from-palette(
    theme.$angular-boat-rental-primary,
    'default'
  );
  color: mat.get-color-from-palette(
    theme.$angular-boat-rental-primary,
    'darker-contrast'
  );
}

h2 {
  color: mat.get-color-from-palette(theme.$angular-boat-rental-accent, 'text');
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

.panel {
  flex: 1 0;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-divider.responsive {
  display: none;
}

@media only screen and (max-width: 640px) {
  footer {
    flex-direction: column;
  }

  mat-divider {
    display: none;
  }

  mat-divider.responsive {
    display: unset;
  }
}
