<footer>
  <div class="panel">
    <h2>Links</h2>
    <ul>
      <li><a routerLink="">About us</a></li>
      <li><a routerLink="">Terms and Conditions</a></li>
      <li><a routerLink="">Piracy Statement</a></li>
    </ul>
  </div>
  <mat-divider class="responsive"></mat-divider>
  <mat-divider [vertical]="true"></mat-divider>

  <div class="panel">
    <h2>Contact</h2>
    <div class="contact">
      <p>
        Active Undertakings At Sea<br />
        Havenkade 3<br />
        1234 AB Amsterdam<br />
      </p>
      <p>
        <a href="tel:31 12 9876543">+31 12 9876543</a><br />
        <a href="mailto:info@activeundertakingsatsea.nl"
          >info@activeundertakingsatsea.nl</a
        >
      </p>
      <p>© 2022 Copyright Active Undertakings At Sea</p>
    </div>
  </div>
</footer>
